.main-color {
    color: #004AAD !important;
}

.header {
    height: unset;
}

.header .logo {
    height: unset;
    padding: 10px;
    width: 550px;
}

.header-main {
    width: calc(100% - 570px);
}
