.main-color {
    color: #004AAD !important;
}

.header {
    height: unset;
}

.header .logo {
    height: unset;
    padding: 10px;
    width: 430px;
}

.header-main {
    width: calc(100% - 450px);
}

.footer-item {
    width: calc(100% / 4);
}
